:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 44%, 70%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --cyan: hsl(200, 100%, 62%);
    --white: hsl(0, 0%, 100%);
    --cream: hsl(34, 100%, 99%);
    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.app {
    max-width: 1440px;
    margin: auto;
    font-size: 1.125rem;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cyan);
    padding: 3.5rem 2rem;
}

.navbar__logo {
    width: 12%; 
    height: auto; 
}

.navbar__list {
    display: flex;
    flex-flow: row nowrap;
    font-family: var(--font-barlow);
    color: var(--white);
}

.navbar__item {
    padding: 0 2rem;
}

.header {
    width: 100%;
    height: 650px;
    background-image: url('/images/desktop/image-header.jpg');
    background-size: cover;
    background-position: bottom;
}

.header__title {
    font-family: var(--font-fraunces);
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding-top: 3rem;
    color: var(--white);
}

.header__arrow {
    height: 115px;
    display: block;
    margin: 6.5rem auto;
}

.services {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.services__content {
    max-width: 50%;
    background-color: var(--cream);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.services__title {
    font-family: var(--font-barlow);
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    font-family: var(--font-fraunces);
    line-height: 1.3;
    padding-bottom: 2rem;
}

.services__desc {
    font-family: var(--font-barlow);
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    padding-bottom: 3.5rem;
}

.services__link {
    text-decoration: none;
    font-family: var(--font-fraunces);
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: 900;
}

.services__link--yellow::before {
    content: '';
    display: inline-block;
    width: 125px;
    height: 8px;
    background-color: var(--yellow);
    position: absolute;
    bottom: 9.2rem;
    left: 8.2rem;
    opacity: .3;
}

.services__link--red::before {
    content: '';
    display: inline-block;
    width: 125px;
    height: 8px;
    background-color: var(--soft-red);
    position: absolute;
    bottom: 9.2rem;
    right: 29rem;
    opacity: .3;
}

.services__image {
    max-width: 50%;
}

.services__alternate {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.services__alternate__content {
    max-width: 50%;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.services__alternate__image {
    display: block;
    position: absolute;
    z-index: -1;
}

.services__alternate__title {
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-family: var(--font-fraunces);
    font-weight: 900;
}

.services__alternate__desc {
    font-size: 1rem;
    font-family: var(--font-barlow);
    line-height: 1.6;
    text-align: center;
    padding: 2.2rem 11.5rem 3rem 11.5rem;
    opacity: .8;
}

.services__alternate__title--green, .services__alternate__desc--green {
    color: var(--dark-desaturated-cyan);
}

.services__alternate__title--blue, .services__alternate__desc--blue {
    color: var(--dark-blue);
}

.testimonials {
    background-color: var(--cream);
    padding: 10rem 0;
}

.testimonials__title__main {
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: .5rem;
    padding-bottom: 8rem;
}

.testimonials__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.testimonials__content {
    max-width: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.testimonials__image {
    max-width: 15%;
    border-radius: 50%;
}

.testimonials__desc {
    font-family: var(--font-barlow);
    line-height: 1.6;
    padding: 4rem 4rem;
    text-align: center;
    color: var(--dark-grayish-blue);
}

.testimonials__author {
    display: flex;
    flex-flow: column nowrap;
}

.testimonials__author__name {
    font-family: var(--font-fraunces);
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: .8rem;
}

.testimonials__author__title {
    font-family: var(--font-barlow);
    font-size: .9rem;
    color: var(--grayish-blue);
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.gallery__image {
    max-width: 25%;
}

.footer {
    background-color: var(--dark-moderate-cyan);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer__logo{
    padding: 4rem 0 3rem 0;
}

.footer__logo path {
    fill: var(--dark-desaturated-cyan);
}

.footer__list {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 4rem;
}

.footer__item {
    padding: 0 1rem;
    font-family: var(--font-barlow);
    color: var(--dark-desaturated-cyan);
}